# Mac system files
.DS_Store

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# Python environments
.env
venv/
.envs/
.venv/

# IDE
.vscode/
.idea/

# Logs
*.log

# Temporary files
*.tmp

# Large data files (optional)
data/
results/
output/

# HPC / intermediate
*.h5ad
*.loom
*.hdf5